// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
.user{
  font-size: 20px;
}

.info{
  font-size: 10px;
}

.info ul{
  list-style: none;
  float: right;
}
*/
